$font-stack: Trebuchet MS, Arial, sans-serif;
$light-color: #FFC300;
$primary-color: #000814;
$secondary-color: #a2d0fc;
$navBackgroundColor: #000814;
$navTextColor: #fff;
$navLinkColor: #fff;
$navLinkHoverColor: #ffcc00;
$heroFontSize: 25px;
$heroFontColor: #fff;